<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.datdo.mobilib.imageinput"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:allowBackup="true" >
        <activity
            android:name="com.datdo.mobilib.imageinput.MblTakeImageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.datdo.mobilib.imageinput.MblPickImageActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>